[submodule "vendor/bmpimage"]
    path = vendor/bmpimage
    url = https://bitbucket.org/rreverser/bmpimage.git
[submodule "vendor/restruct.js"]
	path = vendor/restruct.js
	url = https://github.com/rfw/restruct.js.git
[submodule "vendor/jDataView"]
	path = vendor/jDataView
	url = https://github.com/vjeux/jDataView.git
[submodule "vendor/jParser"]
	path = vendor/jParser
	url = https://github.com/vjeux/jParser.git
[submodule "vendor/js_bintrees"]
	path = vendor/js_bintrees
	url = https://github.com/vadimg/js_bintrees.git
